﻿@model WebExample.Models.Khet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Khet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProvinceID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProvinceID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhetID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhetID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhetName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
